.NewSkillForm {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(25, 38, 112);
  text-align: left;
  border: 0.2rem solid rgb(241, 10, 168);
  border-radius: 0.3rem;
  padding: 1rem;
}


.NewSkillForm select,
.NewSkillForm input {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(25, 38, 112);
  padding: 0.2rem;
  border: 0.2rem solid rgb(241, 10, 168);
  border-radius: 0.3rem;
  outline: none;
}

.NewSkillForm select {
  width: 64%;
  margin-top: 1rem
}

.NewSkillForm .inputField {
  margin-bottom: 10px;
}

.NewSkillForm select option {
  text-align: center;
}
.NewSkillForm button {
  grid-column: span 2;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 0.2rem;
  background-color: rgb(56, 179, 210);
  border: 0.2rem solid rgb(25, 38, 112);
  border-radius: 0.3rem;
  width: 300px;
  margin-top: 10px;
}
  